@inherits LayoutComponentBase

<PageTitle>ncrypt.Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="height:4vh">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content" style="padding:10px !important; height:96vh">
            @Body
        </div>
    </main>
</div>
