@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>ncrypt.Server</PageTitle>

<div class="page">


    <main>
        <div class="top-row px-4" style="height:4vh">
            @if (ShowProgress is true)
            {
                <RadzenProgressBar Style="width:13%"
                               ShowValue="false" Mode="ProgressBarMode.Indeterminate" ProgressBarStyle="ProgressBarStyle.Secondary" Value="100">
                </RadzenProgressBar>
            }
            <RadzenUpload Url="upload" ChooseText="Upload Service as .dll" Icon="upload" Error=@OnError
                          Visible=@(!ShowProgress) Complete=@OnComplete Progress=@TrackProgress>
            </RadzenUpload>

            <RadzenButton class="ms-1" Icon="info" Click=@(args => Navigation.NavigateTo("/how-to", true)) ButtonStyle="ButtonStyle.Secondary" />
            <RadzenButton class="ms-1" Icon="settings_ethernet" Click=@(args => Navigation.NavigateTo("/", true)) ButtonStyle="ButtonStyle.Secondary" />
        </div>

        <div class="content" style="padding:10px !important; height:96vh">
            @Body
        </div>
    </main>
</div>

@code {
    public Boolean ShowProgress { get; set; } = false;

    void OnComplete()
    {
        ShowProgress = false;
        Navigation.NavigateTo("/", true);
    }

    void TrackProgress(UploadProgressArgs args)
    {
        ShowProgress = true;
    }

    void OnError()
    {
        ShowProgress = false;
    }
}
