@page "/"
@using System.Security.Cryptography
@using System.Reflection
@using ncrypt.Domain
@using ncrypt.Library.Cipher
@using ncrypt.Server.Model

<PageTitle>ncrypt</PageTitle>

<div class="container p-0 m-0">
    <div class="row">
        <div class="col-2">
            <RadzenCard class="p-2">
                <RadzenDataList WrapItems="true" Data="@models" TItem="GenericModel">
                    <Template Context="model">
                        <RadzenCard class="w-100 my-1 m-0 bg-light border-1 border-secondary">
                            <p style="text-align:center">@model.Name</p>                            
                        </RadzenCard>
                    </Template>
                </RadzenDataList>
            </RadzenCard>
        </div>
        <div class="col-10">
            <RadzenCard class="w-100">
                <RadzenDataList WrapItems="true" AllowPaging="false" Data="@models" TItem="GenericModel" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                    <Template Context="model">
                        <_GenericCard Model="model"></_GenericCard>
                    </Template>    
                </RadzenDataList >
            </RadzenCard>
        </div>
    </div>
</div>

<style>
.product-title {
    min-height: 72px;
    color: #da0074;
    background-color: rgba(255, 41, 155, .1);
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.price-badge {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 8px;
}
</style>

@code {
    List<GenericModel> models = new ();
    List<String> modes = Enum.GetNames(typeof(CipherMode)).ToList();

    protected override void OnInitialized ()
    {
        models = new ()
        {
            new ("AES", typeof (AESResult), typeof(AESService)),
            new ("RSA", typeof (RSAKeyPairResult), typeof(RSAService)),
        };        
    }
}