::deep .plain-card {
    width: 100%;
    background-color: #479cc8;
    color: white;
    border: solid 1px #479cc8;
    border-radius: 7px;
}

    ::deep .plain-card:hover {
        border: solid 1px #001D6E;
    }

::deep .text-container {
    position: relative;
}

::deep .convert-type-dd {
    width: 10%;
    border: solid 0.1px #1A3651;
    position: absolute;
    right: 10px;
    top: 10px
}

::deep .clear-button {
    width: 5%;
    position: absolute;
    right: 10px;
    top: 50px;
}

::deep .text-area {
    resize: none;
    line-height: 1.1;
    font-size: 1.1rem;
    color: black !important;
}
